<%- include('../partials/header') %>
<%- include('../partials/menu') %>
 
     
     <div class="container">
      <br><br>
       <h1 style="color: black">Welcome to MockStock </h1>
    <p>Team page</p> 
     </div>       
   
<%- include('../partials/footer') %>
