<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="main.ejs"></a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="main.ejs">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="main.ejs">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reviews.ejs">Reviews</a>
        </li>
      </ul>
    </div>
  </nav>