
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>MockStock - News</title>
    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../resources/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- NavBar to match with other .html files goes here-->
    <div class = "navbar navbar-expand-sm bg-dark navbar-dark fixed-top"> 
      <!-- Links -->
      <ul class="navbar-nav">
        <li id="navHome" class="nav-item">
          <a class="nav-link" href="./homePage.html">
            <i class="fa fa-fw fa-home"></i>
            Home
          </a>
        </li>
        <li id="navTeam" class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-users"></i>
            Team
          </a>
        </li>
        <li id="navNews" class="nav-item">
          <a class="nav-link" href="./news.html">
            <i class="fa fa-fw fa-search"></i>
            News
          </a>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li id="navSearch" class="nav-item active">
          <a class="nav-link" href="./search.html">
            <i class="fa fa-fw fa-search"></i>
            Search
          </a>
        </li>
        <li id="navRegister" class="nav-item">
          <a class="nav-link" href="./trade.html">
            <i class="fa fa-fw fa-register"></i>
            Trades
          </a>
        </li>
        <li id="navLogin" class="nav-item">
          <a class="nav-link" href="./profile.html">
            <i class="fa fa-fw fa-user"></i>
            Profile
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="container" style="margin-top:70px">
        <h2>Search Stock Data</small></h2>
    </div>
    <div class="container pt-2">
        <form>
            <div class="form-group">
                <label for="inputSymbol">Enter Stock Symbol:</label>
                <input type="text" class="form-control" id="inputSymbol" placeholder="AAPL">
            </div>
            <button type="button" class="news-page-btn" onclick="getSymbol()">
              Submit
            </button>
        </form>
    </div>
    <div class="container-fluid margin-top: ">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h1 class="text-right" id="header"></h1>
            </div>
            <div class="col-md-6">
              <img  id="image" class="float-left" style="width: 70px" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-md-6" id="name"></div>
            <div class="col-md-6" id="site"></div>
          </div>
        </div>
        <div class="col-md-6" id="stockData">
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../resources/js/api_scripts.js"></script>
  </body>
</html>